In [6]:
import pandas as pd
import numpy as np
import loanDFWrangle

# Gather
I open the csv file saved at the end of the wrangling notebook

In [7]:
# Read propser loan cleaned DataFrame from the created csv file from the data_wrangling.ipynb notebook
df_loan_data = pd.read_csv('prosperLoanDataCleaned.csv')
df_loan_data.head()

,Term,LoanStatus,BorrowerRate,BorrowerState,Occupation,EmploymentStatus,EmploymentStatusDuration,IsBorrowerHomeowner,DelinquenciesLast7Years,StatedMonthlyIncome,LoanOriginalAmount,LoanOriginationDate,Recommendations,CreditScoreRangeAvg,ListingCategory
0,36,Completed,0.1580,CO,Other,Self-employed,2,True,4,3083.333333,9425,2007-09-12,0,649.5,Not Available
1,36,Current,0.0920,CO,Professional,Employed,44,False,0,6125.000000,10000,2014-03-03,0,689.5,Home Improvement
2,36,Current,0.0974,GA,Skilled Labor,Employed,113,True,14,2875.000000,10000,2012-11-01,0,809.5,Motorcycle
3,36,Current,0.2085,MN,Executive,Employed,44,True,0,9583.333333,15000,2013-09-20,0,689.5,Home Improvement
4,60,Current,0.1314,NM,Professional,Employed,82,True,0,8333.333333,15000,2013-12-24,0,749.5,Debt Consolidation

In [8]:
df_loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103245 entries, 0 to 103244
Data columns (total 15 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Term                      103245 non-null  int64
 1   LoanStatus                103245 non-null  object
 2   BorrowerRate              103245 non-null  float64
 3   BorrowerState             103245 non-null  object
 4   Occupation                103245 non-null  object
 5   EmploymentStatus          103245 non-null  object
 6   EmploymentStatusDuration  103245 non-null  int64
 7   IsBorrowerHomeowner       103245 non-null  bool
 8   DelinquenciesLast7Years   103245 non-null  int64
 9   StatedMonthlyIncome       103245 non-null  float64
 10  LoanOriginalAmount        103245 non-null  int64
 11  LoanOriginationDate       103245 non-null  object
 12  Recommendations           103245 non-null  int64
 13  CreditScoreRangeAvg       103245 non-null  float64
 14  ListingCategory           103245 non-null  object
dtypes: bool(1), float64(3), int64(5), object(6)
memory usage: 11.1+ MB

Since saving a Pandas Dataframe in a csv file and re opening this same file into another Dataframe loses the categories, I have to retransform some variable into categories.

In [10]:
loanDFWrangle.categorizeVariables(df_loan_data)
df_loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103245 entries, 0 to 103244
Data columns (total 15 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Term                      103245 non-null  int64
 1   LoanStatus                103245 non-null  category
 2   BorrowerRate              103245 non-null  float64
 3   BorrowerState             103245 non-null  category
 4   Occupation                103245 non-null  category
 5   EmploymentStatus          103245 non-null  category
 6   EmploymentStatusDuration  103245 non-null  int64
 7   IsBorrowerHomeowner       103245 non-null  bool
 8   DelinquenciesLast7Years   103245 non-null  int64
 9   StatedMonthlyIncome       103245 non-null  float64
 10  LoanOriginalAmount        103245 non-null  int64
 11  LoanOriginationDate       103245 non-null  datetime64[ns]
 12  Recommendations           103245 non-null  int64
 13  CreditScoreRangeAvg       103245 non-null  float64
 14  ListingCategory           103245 non-null  category
dtypes: bool(1), category(5), datetime64[ns](1), float64(3), int64(5)
memory usage: 7.7 MB