# Data Wrangling
## Imports

In [1]:
import pandas as pd
import numpy as np
import requests
import os

## Gather
The original data set csv file can be found at [this link](https://s3.amazonaws.com/udacity-hosted-downloads/ud651/prosperLoanData.csv).

In [2]:
prosper_loan_data_url = 'https://s3.amazonaws.com/udacity-hosted-downloads/ud651/prosperLoanData.csv'
file_name = prosper_loan_data_url.split('/')[-1]

if not os.path.isfile(file_name):
    # Retrieve the file content from the web
    response = requests.get(prosper_loan_data_url)
    # And save it in a tsv file
    with open(file_name, mode='wb') as file:
        file.write(response.content)
        
# Create propser loan DataFrame from the downloaded csv file
df_loan_data = pd.read_csv(file_name)
df_loan_data.head()

,ListingKey,ListingNumber,ListingCreationDate,CreditGrade,Term,LoanStatus,ClosedDate,BorrowerAPR,BorrowerRate,LenderYield,...,LP_ServiceFees,LP_CollectionFees,LP_GrossPrincipalLoss,LP_NetPrincipalLoss,LP_NonPrincipalRecoverypayments,PercentFunded,Recommendations,InvestmentFromFriendsCount,InvestmentFromFriendsAmount,Investors
0,1021339766868145413AB3B,193129,2007-08-26 19:09:29.263000000,C,36,Completed,2009-08-14 00:00:00,0.16516,0.1580,0.1380,...,-133.18,0.0,0.0,0.0,0.0,1.0,0,0,0.0,258
1,10273602499503308B223C1,1209647,2014-02-27 08:28:07.900000000,NaN,36,Current,NaN,0.12016,0.0920,0.0820,...,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1
2,0EE9337825851032864889A,81716,2007-01-05 15:00:47.090000000,HR,36,Completed,2009-12-17 00:00:00,0.28269,0.2750,0.2400,...,-24.20,0.0,0.0,0.0,0.0,1.0,0,0,0.0,41
3,0EF5356002482715299901A,658116,2012-10-22 11:02:35.010000000,NaN,36,Current,NaN,0.12528,0.0974,0.0874,...,-108.01,0.0,0.0,0.0,0.0,1.0,0,0,0.0,158
4,0F023589499656230C5E3E2,909464,2013-09-14 18:38:39.097000000,NaN,36,Current,NaN,0.24614,0.2085,0.1985,...,-60.27,0.0,0.0,0.0,0.0,1.0,0,0,0.0,20

In [3]:
df_loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113937 entries, 0 to 113936
Data columns (total 81 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   ListingKey                           113937 non-null  object
 1   ListingNumber                        113937 non-null  int64
 2   ListingCreationDate                  113937 non-null  object
 3   CreditGrade                          28953 non-null   object
 4   Term                                 113937 non-null  int64
 5   LoanStatus                           113937 non-null  object
 6   ClosedDate                           55089 non-null   object
 7   BorrowerAPR                          113912 non-null  float64
 8   BorrowerRate                         113937 non-null  float64
 9   LenderYield                          113937 non-null  float64
 10  EstimatedEffectiveYield              84853 non-null   float64
 11  EstimatedLoss                        84853 non-null   float64
 12  EstimatedReturn                      84853 non-null   float64
 13  ProsperRating (numeric)              84853 non-null   float64
 14  ProsperRating (Alpha)                84853 non-null   object
 15  ProsperScore                         84853 non-null   float64
 16  ListingCategory (numeric)            113937 non-null  int64
 17  BorrowerState                        108422 non-null  object
 18  Occupation                           110349 non-null  object
 19  EmploymentStatus                     111682 non-null  object
 20  EmploymentStatusDuration             106312 non-null  float64
 21  IsBorrowerHomeowner                  113937 non-null  bool
 22  CurrentlyInGroup                     113937 non-null  bool
 23  GroupKey                             13341 non-null   object
 24  DateCreditPulled                     113937 non-null  object
 25  CreditScoreRangeLower                113346 non-null  float64
 26  CreditScoreRangeUpper                113346 non-null  float64
 27  FirstRecordedCreditLine              113240 non-null  object
 28  CurrentCreditLines                   106333 non-null  float64
 29  OpenCreditLines                      106333 non-null  float64
 30  TotalCreditLinespast7years           113240 non-null  float64
 31  OpenRevolvingAccounts                113937 non-null  int64
 32  OpenRevolvingMonthlyPayment          113937 non-null  float64
 33  InquiriesLast6Months                 113240 non-null  float64
 34  TotalInquiries                       112778 non-null  float64
 35  CurrentDelinquencies                 113240 non-null  float64
 36  AmountDelinquent                     106315 non-null  float64
 37  DelinquenciesLast7Years              112947 non-null  float64
 38  PublicRecordsLast10Years             113240 non-null  float64
 39  PublicRecordsLast12Months            106333 non-null  float64
 40  RevolvingCreditBalance               106333 non-null  float64
 41  BankcardUtilization                  106333 non-null  float64
 42  AvailableBankcardCredit              106393 non-null  float64
 43  TotalTrades                          106393 non-null  float64
 44  TradesNeverDelinquent (percentage)   106393 non-null  float64
 45  TradesOpenedLast6Months              106393 non-null  float64
 46  DebtToIncomeRatio                    105383 non-null  float64
 47  IncomeRange                          113937 non-null  object
 48  IncomeVerifiable                     113937 non-null  bool
 49  StatedMonthlyIncome                  113937 non-null  float64
 50  LoanKey                              113937 non-null  object
 51  TotalProsperLoans                    22085 non-null   float64
 52  TotalProsperPaymentsBilled           22085 non-null   float64
 53  OnTimeProsperPayments                22085 non-null   float64
 54  ProsperPaymentsLessThanOneMonthLate  22085 non-null   float64
 55  ProsperPaymentsOneMonthPlusLate      22085 non-null   float64
 56  ProsperPrincipalBorrowed             22085 non-null   float64
 57  ProsperPrincipalOutstanding          22085 non-null   float64
 58  ScorexChangeAtTimeOfListing          18928 non-null   float64
 59  LoanCurrentDaysDelinquent            113937 non-null  int64
 60  LoanFirstDefaultedCycleNumber        16952 non-null   float64
 61  LoanMonthsSinceOrigination           113937 non-null  int64
 62  LoanNumber                           113937 non-null  int64
 63  LoanOriginalAmount                   113937 non-null  int64
 64  LoanOriginationDate                  113937 non-null  object
 65  LoanOriginationQuarter               113937 non-null  object
 66  MemberKey                            113937 non-null  object
 67  MonthlyLoanPayment                   113937 non-null  float64
 68  LP_CustomerPayments                  113937 non-null  float64
 69  LP_CustomerPrincipalPayments         113937 non-null  float64
 70  LP_InterestandFees                   113937 non-null  float64
 71  LP_ServiceFees                       113937 non-null  float64
 72  LP_CollectionFees                    113937 non-null  float64
 73  LP_GrossPrincipalLoss                113937 non-null  float64
 74  LP_NetPrincipalLoss                  113937 non-null  float64
 75  LP_NonPrincipalRecoverypayments      113937 non-null  float64
 76  PercentFunded                        113937 non-null  float64
 77  Recommendations                      113937 non-null  int64
 78  InvestmentFromFriendsCount           113937 non-null  int64
 79  InvestmentFromFriendsAmount          113937 non-null  float64
 80  Investors                            113937 non-null  int64
dtypes: bool(3), float64(50), int64(11), object(17)
memory usage: 68.1+ MB

## Variables usefulness assessment
In this first asses part, I will define which variable I want to keep for the data analysis and visualisation part that I will perform for this project.

In [4]:
pd.set_option('display.max_rows', 85)
pd.set_option('display.max_colwidth', 200)
df_loan_data_variable_def = pd.read_csv('ProsperLoanData_VariableDefiefinition.csv', index_col='Variable')
df_loan_data_variable_def

                                                                                                                                                                                                                                 Description
Variable
ListingKey                                                                                                                                       Unique key for each listing, same value as the 'key' used in the listing object in the API.
ListingNumber                                                                                                                                     The number that uniquely identifies the listing to the public as displayed on the website.
ListingCreationDate                                                                                                                                                                                        The date the listing was created.
CreditGrade                                                                    The Credit rating that was assigned at the time the listing went live. Applicable for listings pre-2009 period and will only be populated for those listings.
Term                                                                                                                                                                                             The length of the loan expressed in months.
LoanStatus                                           The current status of the loan: Cancelled,  Chargedoff, Completed, Current, Defaulted, FinalPaymentInProgress, PastDue. The PastDue status will be accompanied by a delinquency bucket.
ClosedDate                                                                                                                                      Closed date is applicable for Cancelled, Completed, Chargedoff and Defaulted loan statuses.
BorrowerAPR                                                                                                                                                                        The Borrower's Annual Percentage Rate (APR) for the loan.
BorrowerRate                                                                                                                                                                                    The Borrower's interest rate for this loan.
LenderYield                                                                                                                     The Lender yield on the loan. Lender yield is equal to the interest rate on the loan less the servicing fee.
EstimatedEffectiveYield              Effective yield is equal to the borrower interest rate (i) minus the servicing fee rate, (ii) minus estimated uncollected interest on charge-offs, (iii) plus estimated collected late fees.  Applic...
EstimatedLoss                                                                                                                Estimated loss is the estimated principal loss on charge-offs. Applicable for loans originated after July 2009.
EstimatedReturn                      The estimated return assigned to the listing at the time it was created. Estimated return is the difference between the Estimated Effective Yield and the Estimated Loss Rate. Applicable for loans ...
ProsperRating (numeric)                                      The  Prosper Rating assigned at the time the listing was created: 0 - N/A, 1 - HR, 2 - E, 3 - D, 4 - C, 5 - B, 6 - A, 7 - AA.  Applicable for loans originated after July 2009.
ProsperRating (Alpha)                                                                                     The Prosper Rating assigned at the time the listing was created between AA - HR.  Applicable for loans originated after July 2009.
ProsperScore                                            A custom risk score built using historical Prosper data. The score ranges from 1-10, with 10 being the best, or lowest risk score.  Applicable for loans originated after July 2009.
ListingCategory                      The category of the listing that the borrower selected when posting their listing: 0 - Not Available, 1 - Debt Consolidation, 2 - Home Improvement, 3 - Business, 4 - Personal Loan, 5 - Student Use...
BorrowerState                                                                                                                   The two letter abbreviation of the state of the address of the borrower at the time the Listing was created.
Occupation                                                                                                                                                     The Occupation selected by the Borrower at the time they created the listing.
EmploymentStatus                                                                                                                                                  The employment status of the borrower at the time they posted the listing.
EmploymentStatusDuration                                                                                                                                  The length in months of the employment status at the time the listing was created.
IsBorrowerHomeowner                                                                    A Borrower will be classified as a homowner if they have a mortgage on their credit profile or provide documentation confirming they are a homeowner.
CurrentlyInGroup                                                                                                                                   Specifies whether or not the Borrower was in a group at the time the listing was created.
GroupKey                                                                                                    The Key of the group in which the Borrower is a member of. Value will be null if the borrower does not have a group affiliation.
DateCreditPulled                                                                                                                                                                                    The date the credit profile was pulled.
CreditScoreRangeLower                                                                                                  The lower value representing the range of the borrower's credit score as provided by a consumer credit rating agency.
CreditScoreRangeUpper                                                                                                 The upper value representing the range of the borrower's credit score as provided by a consumer credit rating agency.
FirstRecordedCreditLine                                                                                                                                                                           The date the first credit line was opened.
CurrentCreditLines                                                                                                                                                 Number of current credit lines at the time the credit profile was pulled.
OpenCreditLines                                                                                                                                                       Number of open credit lines at the time the credit profile was pulled.
TotalCreditLinespast7years                                                                                                                         Number of credit lines in the past seven years at the time the credit profile was pulled.
OpenRevolvingAccounts                                                                                                                                           Number of open revolving accounts at the time the credit profile was pulled.
OpenRevolvingMonthlyPayment                                                                                                                                 Monthly payment on revolving accounts at the time the credit profile was pulled.
InquiriesLast6Months                                                                                                                                   Number of inquiries in the past six months at the time the credit profile was pulled.
TotalInquiries                                                                                                                                                          Total number of inquiries at the time the credit profile was pulled.
CurrentDelinquencies                                                                                                                                                Number of accounts delinquent at the time the credit profile was pulled.
AmountDelinquent                                                                                                                                                               Dollars delinquent at the time the credit profile was pulled.
DelinquenciesLast7Years                                                                                                                               Number of delinquencies in the past 7 years at the time the credit profile was pulled.
PublicRecordsLast10Years                                                                                                                            Number of public records in the past 10 years at the time the credit profile was pulled.
PublicRecordsLast12Months                                                                                                                          Number of public records in the past 12 months at the time the credit profile was pulled.
RevolvingCreditBalance                                                                                                                                                Dollars of revolving credit at the time the credit profile was pulled.
BankcardUtilization                                                                                                                 The percentage of available revolving credit that is utilized at the time the credit profile was pulled.
AvailableBankcardCredit                                                                                                                                  The total available credit via bank card at the time the credit profile was pulled.
TotalTrades                                                                                                                                                     Number of trade lines ever opened at the time the credit profile was pulled.
TradesNeverDelinquent                                                                                                                            Number of trades that have never been delinquent at the time the credit profile was pulled.
TradesOpenedLast6Months                                                                                                                              Number of trades opened in the last 6 months at the time the credit profile was pulled.
DebtToIncomeRatio                    The debt to income ratio of the borrower at the time the credit profile was pulled. This value is Null if the debt to income ratio is not available. This value is capped at 10.01 (any debt to inco...
IncomeRange                                                                                                                                                            The income range of the borrower at the time the listing was created.
IncomeVerifiable                                                                                                                                        The borrower indicated they have the required documentation to support their income.
StatedMonthlyIncome                                                                                                                                              The monthly income the borrower stated at the time the listing was created.
LoanKey                                                                                                                                                             Unique key for each loan. This is the same key that is used in the API.
TotalProsperLoans                                                                                   Number of Prosper loans the borrower at the time they created this listing. This value will be null if the borrower had no prior loans.
TotalProsperPaymentsBilled                                                  Number of on time payments the borrower made on Prosper loans at the time they created this listing. This value will be null if the borrower had no prior loans.
OnTimeProsperPayments                                                   Number of on time payments the borrower had made on Prosper loans at the time they created this listing. This value will be null if the borrower has no prior loans.
ProsperPaymentsLessThanOneMonthLate             Number of payments the borrower made on Prosper loans that were less than one month late at the time they created this listing. This value will be null if the borrower had no prior loans.
ProsperPaymentsOneMonthPlusLate               Number of payments the borrower made on Prosper loans that were greater than one month late at the time they created this listing. This value will be null if the borrower had no prior loans.
ProsperPrincipalBorrowed                                                                          Total principal borrowed on Prosper loans at the time the listing was created. This value will be null if the borrower had no prior loans.
ProsperPrincipalOutstanding                                                                          Principal outstanding on Prosper loans at the time the listing was created. This value will be null if the borrower had no prior loans.
ScorexChangeAtTimeOfListing          Borrower's credit score change at the time the credit profile was pulled. This will be the change relative to the borrower's last Prosper loan. This value will be null if the borrower had no prior...
LoanCurrentDaysDelinquent                                                                                                                                                                                    The number of days delinquent.
LoanFirstDefaultedCycleNumber                                                                                                                   The cycle the loan was charged off. If the loan has not charged off the value will be null.
LoanMonthsSinceOrigination                                                                                                                                                                       Number of months since the loan originated.
LoanNumber                                                                                                                                                                                    Unique numeric value associated with the loan.
LoanOriginalAmount                                                                                                                                                                                       The origination amount of the loan.
LoanOriginationDate                                                                                                                                                                                        The date the loan was originated.
LoanOriginationQuarter                                                                                                                                                                         The quarter in which the loan was originated.
MemberKey                                                                                                           The unique key that is associated with the borrower. This is the same identifier that is used in the API member object.
MonthlyLoanPayment                                                                                                                                                                                       The scheduled monthly loan payment.
LP_CustomerPayments                                                                          Pre charge-off cumulative gross payments made by the borrower on the loan. If the loan has charged off, this value will exclude any recoveries.
LP_CustomerPrincipalPayments                                                             Pre charge-off cumulative principal payments made by the borrower on the loan. If the loan has charged off, this value will exclude any recoveries.
LP_InterestandFees                                                                                    Pre charge-off cumulative interest and fees paid by the borrower. If the loan has charged off, this value will exclude any recoveries.
LP_ServiceFees                                                                                                                                                 Cumulative service fees paid by the investors who have invested in the loan.
LP_CollectionFees                                                                                                                                            Cumulative collection fees paid by the investors who have invested in the loan.
LP_GrossPrincipalLoss                                                                                                                                                                              The gross charged off amount of the loan.
LP_NetPrincipalLoss                                                                                                                                                             The principal that remains uncollected after any recoveries.
LP_NonPrincipalRecoverypayments                                                      The interest and fee component of any recovery payments. The current payment policy applies payments in the following order: Fees, interest, principal.
PercentFunded                                                                                                                                                                                                Percent the listing was funded.
Recommendations                                                                                                                                              Number of recommendations the borrower had at the time the listing was created.
InvestmentFromFriendsCount                                                                                                                                                            Number of friends that made an investment in the loan.
InvestmentFromFriendsAmount                                                                                                                                                          Dollar amount of investments that were made by friends.
Investors                                                                                                                                                                                      The number of investors that funded the loan.

In [5]:
pd.reset_option("display.max_rows")
pd.reset_option("display.max_colwidth")

Here is the list of variables I wish to keep for my analysis:
- Term: The length of the loan expressed in months.
- LoanStatus: The current status of the loan: Cancelled,  Chargedoff, Completed, Current, Defaulted, FinalPaymentInProgress, PastDue. The PastDue status will be accompanied by a delinquency bucket.
- BorrowerRate: The Borrower's interest rate for this loan. 
- ListingCategory: The category of the listing that the borrower selected when posting their listing: 0 - Not Available, 1 - Debt Consolidation, 2 - Home Improvement, 3 - Business, 4 - Personal Loan, 5 - Student Use, 6 - Auto, 7- Other, 8 - Baby&Adoption, 9 - Boat, 10 - Cosmetic Procedure, 11 - Engagement Ring, 12 - Green Loans, 13 - Household Expenses, 14 - Large Purchases, 15 - Medical/Dental, 16 - Motorcycle, 17 - RV, 18 - Taxes, 19 - Vacation, 20 - Wedding Loans
- BorrowerState: The two letter abbreviation of the state of the address of the borrower at the time the Listing was created.
- Occupation: The Occupation selected by the Borrower at the time they created the listing.
- EmploymentStatus: The employment status of the borrower at the time they posted the listing.
- EmploymentStatusDuration: The length in months of the employment status at the time the listing was created.
- IsBorrowerHomeowner: A Borrower will be classified as a homowner if they have a mortgage on their credit profile or provide documentation confirming they are a homeowner.
- CreditScoreRangeLower: The lower value representing the range of the borrower's credit score as provided by a consumer credit rating agency.
- CreditScoreRangeUpper: The upper value representing the range of the borrower's credit score as provided by a consumer credit rating agency. 
- DelinquenciesLast7Years: Number of delinquencies in the past 7 years at the time the credit profile was pulled.
- DebtToIncomeRatio: The debt to income ratio of the borrower at the time the credit profile was pulled. This value is Null if the debt to income ratio is not available. This value is capped at 10.01 (any debt to income ratio larger than 1000% will be returned as 1001%).
- LoanOriginalAmount: The origination amount of the loan.
- LoanOriginationDate: The date the loan was originated.
- Recommendations: Number of recommendations the borrower had at the time the listing was created.

In [6]:
variables_to_analyze = ['Term',
                        'LoanStatus',
                        'BorrowerRate',
                        'ListingCategory (numeric)',
                        'BorrowerState',
                        'Occupation',
                        'EmploymentStatus',
                        'EmploymentStatusDuration',
                        'IsBorrowerHomeowner',
                        'CreditScoreRangeLower',
                        'CreditScoreRangeUpper',
                        'DelinquenciesLast7Years',
                        'DebtToIncomeRatio',
                        'LoanOriginalAmount',
                        'LoanOriginationDate',
                        'StatedMonthlyIncome',
                        'Recommendations']

In [7]:
df_loan_data_cleaned = df_loan_data[variables_to_analyze]
df_loan_data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113937 entries, 0 to 113936
Data columns (total 17 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Term                       113937 non-null  int64
 1   LoanStatus                 113937 non-null  object
 2   BorrowerRate               113937 non-null  float64
 3   ListingCategory (numeric)  113937 non-null  int64
 4   BorrowerState              108422 non-null  object
 5   Occupation                 110349 non-null  object
 6   EmploymentStatus           111682 non-null  object
 7   EmploymentStatusDuration   106312 non-null  float64
 8   IsBorrowerHomeowner        113937 non-null  bool
 9   CreditScoreRangeLower      113346 non-null  float64
 10  CreditScoreRangeUpper      113346 non-null  float64
 11  DelinquenciesLast7Years    112947 non-null  float64
 12  DebtToIncomeRatio          105383 non-null  float64
 13  LoanOriginalAmount         113937 non-null  int64
 14  LoanOriginationDate        113937 non-null  object
 15  StatedMonthlyIncome        113937 non-null  float64
 16  Recommendations            113937 non-null  int64
dtypes: bool(1), float64(7), int64(4), object(5)
memory usage: 14.0+ MB

In [8]:
df_loan_data_cleaned.describe()

,Term,BorrowerRate,ListingCategory (numeric),EmploymentStatusDuration,CreditScoreRangeLower,CreditScoreRangeUpper,DelinquenciesLast7Years,DebtToIncomeRatio,LoanOriginalAmount,StatedMonthlyIncome,Recommendations
count,113937.000000,113937.000000,113937.000000,106312.000000,113346.000000,113346.000000,112947.000000,105383.000000,113937.00000,1.139370e+05,113937.000000
mean,40.830248,0.192764,2.774209,96.071582,685.567731,704.567731,4.154984,0.275947,8337.01385,5.608026e+03,0.048027
std,10.436212,0.074818,3.996797,94.480605,66.458275,66.458275,10.160216,0.551759,6245.80058,7.478497e+03,0.332353
min,12.000000,0.000000,0.000000,0.000000,0.000000,19.000000,0.000000,0.000000,1000.00000,0.000000e+00,0.000000
25%,36.000000,0.134000,1.000000,26.000000,660.000000,679.000000,0.000000,0.140000,4000.00000,3.200333e+03,0.000000
50%,36.000000,0.184000,1.000000,67.000000,680.000000,699.000000,0.000000,0.220000,6500.00000,4.666667e+03,0.000000
75%,36.000000,0.250000,3.000000,137.000000,720.000000,739.000000,3.000000,0.320000,12000.00000,6.825000e+03,0.000000
max,60.000000,0.497500,20.000000,755.000000,880.000000,899.000000,99.000000,10.010000,35000.00000,1.750003e+06,39.000000

# Data quality and tidyness assessment
Here is the list of issues in the dataset that need to be solved before performing any analysis:
- CreditScoreRangeLower and CreditScoreRangeUpper could be merged into one average variable
- Some variables have missing values
  - BorrowerState
  - Occupation
  - EmploymentStatus
  - EmploymentStatusDuration
  - CreditScoreRangeLower
  - CreditScoreRangeUpper
  - DelinquenciesLast7Years
- Some variables don't have the right type:
  - LoanStatus should be a category instead of an object
  - ListingCategory should be a category instead of an int
  - BorrowerState should be a category instead of an object
  - Occupation should be a category instead of an object
  - EmploymentStatus should be a category instead of an object
  - EmploymentStatusDuration should be a int instead of a float
  - DelinquenciesLast7Years should be a int instead of a float
  - LoanOriginationDate should be a date instead of an object
  
# Data cleaning
## CreditScoreRangeLower and CreditScoreRangeUpper
### Assess, Define and code

In [9]:
df_loan_data_cleaned[df_loan_data_cleaned.CreditScoreRangeLower.isna()]

,Term,LoanStatus,BorrowerRate,ListingCategory (numeric),BorrowerState,Occupation,EmploymentStatus,EmploymentStatusDuration,IsBorrowerHomeowner,CreditScoreRangeLower,CreditScoreRangeUpper,DelinquenciesLast7Years,DebtToIncomeRatio,LoanOriginalAmount,LoanOriginationDate,StatedMonthlyIncome,Recommendations
206,36,Defaulted,0.2700,0,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,0.16573,7500,2006-03-29 00:00:00,9166.666667,0
387,36,Completed,0.0865,0,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,0.12624,3500,2006-03-13 00:00:00,3000.000000,0
698,36,Completed,0.0700,0,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,0.02727,6001,2006-02-09 00:00:00,8333.333333,0
1023,36,Completed,0.0800,0,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,0.02480,5000,2006-04-05 00:00:00,8333.333333,0
1126,36,Completed,0.2000,0,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,0.13759,2550,2006-03-15 00:00:00,4250.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112680,36,Chargedoff,0.1375,0,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,0.13213,7000,2006-02-22 00:00:00,3000.000000,0
113015,36,Completed,0.1200,0,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,0.08128,5000,2006-04-17 00:00:00,3250.000000,0
113438,36,Completed,0.0800,0,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,0.31080,3000,2006-03-02 00:00:00,5833.333333,0
113902,36,Completed,0.0812,0,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,0.07419,7500,2006-04-04 00:00:00,20833.333333,0
113921,36,Completed,0.0400,0,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,0.23284,1000,2005-11-15 00:00:00,12500.000000,0

Since there is no way to guess the borrower credit score and that it seems that the entries which have NaN in CreditScoreRangeLower and CreditScoreRangeUpper also have NaN in a lot of other variables, I will remove the rows where there is NaN in CreditScoreRangeLower or CreditScoreRangeUpper.

In [10]:
df_loan_data_cleaned = df_loan_data_cleaned[~df_loan_data_cleaned.CreditScoreRangeLower.isna() | ~df_loan_data_cleaned.CreditScoreRangeUpper.isna()]
df_loan_data_cleaned['CreditScoreRangeAvg'] = (df_loan_data_cleaned.CreditScoreRangeLower + df_loan_data_cleaned.CreditScoreRangeUpper) / 2

In order to have only one variable representing the score of the borrower, I will transform the CreditScoreRangeLower and CreditScoreRangeUpper into the credit score range average.

In [11]:
df_loan_data_cleaned.drop(columns=['CreditScoreRangeLower', 'CreditScoreRangeUpper'], inplace=True)

### Test

In [12]:
df_loan_data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113346 entries, 0 to 113936
Data columns (total 16 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Term                       113346 non-null  int64
 1   LoanStatus                 113346 non-null  object
 2   BorrowerRate               113346 non-null  float64
 3   ListingCategory (numeric)  113346 non-null  int64
 4   BorrowerState              108422 non-null  object
 5   Occupation                 110347 non-null  object
 6   EmploymentStatus           111680 non-null  object
 7   EmploymentStatusDuration   106312 non-null  float64
 8   IsBorrowerHomeowner        113346 non-null  bool
 9   DelinquenciesLast7Years    112947 non-null  float64
 10  DebtToIncomeRatio          104798 non-null  float64
 11  LoanOriginalAmount         113346 non-null  int64
 12  LoanOriginationDate        113346 non-null  object
 13  StatedMonthlyIncome        113346 non-null  float64
 14  Recommendations            113346 non-null  int64
 15  CreditScoreRangeAvg        113346 non-null  float64
dtypes: bool(1), float64(6), int64(4), object(5)
memory usage: 13.9+ MB

In [13]:
df_loan_data_cleaned.CreditScoreRangeAvg.describe()

count    113346.000000
mean        695.067731
std          66.458275
min           9.500000
25%         669.500000
50%         689.500000
75%         729.500000
max         889.500000
Name: CreditScoreRangeAvg, dtype: float64

## BorrowerState
### Define
Since BorrowerState is the variable with the higher number of NaN, I start by cleaning it.  
Since there is no way to guess the state of a borrower, I will remove all the entries having NaN in BorrowerState.

The variable should be transformed into a category since there are a limited amount of state in the USA.
### Code

In [14]:
df_loan_data_cleaned.dropna(subset=['BorrowerState'], inplace=True)
df_loan_data_cleaned.BorrowerState = df_loan_data_cleaned.BorrowerState.astype('category')

### Test

In [15]:
df_loan_data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 108422 entries, 0 to 113936
Data columns (total 16 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Term                       108422 non-null  int64
 1   LoanStatus                 108422 non-null  object
 2   BorrowerRate               108422 non-null  float64
 3   ListingCategory (numeric)  108422 non-null  int64
 4   BorrowerState              108422 non-null  category
 5   Occupation                 106221 non-null  object
 6   EmploymentStatus           107554 non-null  object
 7   EmploymentStatusDuration   104572 non-null  float64
 8   IsBorrowerHomeowner        108422 non-null  bool
 9   DelinquenciesLast7Years    108202 non-null  float64
 10  DebtToIncomeRatio          99940 non-null   float64
 11  LoanOriginalAmount         108422 non-null  int64
 12  LoanOriginationDate        108422 non-null  object
 13  StatedMonthlyIncome        108422 non-null  float64
 14  Recommendations            108422 non-null  int64
 15  CreditScoreRangeAvg        108422 non-null  float64
dtypes: bool(1), category(1), float64(6), int64(4), object(4)
memory usage: 12.6+ MB

In [16]:
df_loan_data_cleaned.BorrowerState

0         CO
1         CO
2         GA
3         GA
4         MN
          ..
113932    IL
113933    PA
113934    TX
113935    GA
113936    NY
Name: BorrowerState, Length: 108422, dtype: category
Categories (51, object): ['AK', 'AL', 'AR', 'AZ', ..., 'WA', 'WI', 'WV', 'WY']

## Occupation, EmploymentStatus and EmploymentStatusDuration
### Assess, define and code
Since the variables are somehow linked, I will clean them together

In [17]:
df_loan_data_cleaned[df_loan_data_cleaned.Occupation.isna() | df_loan_data_cleaned.EmploymentStatusDuration.isna() | df_loan_data_cleaned.EmploymentStatus.isna()]

,Term,LoanStatus,BorrowerRate,ListingCategory (numeric),BorrowerState,Occupation,EmploymentStatus,EmploymentStatusDuration,IsBorrowerHomeowner,DelinquenciesLast7Years,DebtToIncomeRatio,LoanOriginalAmount,LoanOriginationDate,StatedMonthlyIncome,Recommendations,CreditScoreRangeAvg
2,36,Completed,0.275,0,GA,Other,Not available,NaN,False,0.0,0.06,3001,2007-01-17 00:00:00,2083.333333,0,489.5
34,36,Current,0.192,1,GA,NaN,Other,426.0,True,15.0,0.17,10000,2014-02-27 00:00:00,4058.333333,0,649.5
63,36,Completed,0.290,0,MO,Analyst,Not available,NaN,True,0.0,0.25,6000,2006-10-13 00:00:00,7500.000000,0,629.5
76,36,Completed,0.250,0,MO,Executive,Not available,NaN,True,5.0,0.13,2200,2006-07-21 00:00:00,8583.333333,0,549.5
128,36,Defaulted,0.170,0,FL,Other,Not available,NaN,True,20.0,0.03,1000,2006-11-16 00:00:00,2916.666667,0,509.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113768,36,Completed,0.170,0,TX,Sales - Retail,Not available,NaN,False,0.0,0.20,4000,2007-02-26 00:00:00,1709.916667,0,589.5
113797,36,Defaulted,0.110,0,VA,Professional,Not available,NaN,False,0.0,0.04,4500,2006-10-31 00:00:00,4166.666667,0,669.5
113819,36,Completed,0.174,0,MO,Executive,Not available,NaN,True,25.0,0.13,3000,2006-09-19 00:00:00,4583.333333,0,669.5
113914,36,Defaulted,0.250,0,CA,NaN,NaN,NaN,False,16.0,0.05,3000,2006-08-18 00:00:00,2400.000000,0,529.5
113926,36,Defaulted,0.290,0,CA,Other,Not available,NaN,False,18.0,0.07,3000,2006-08-08 00:00:00,5416.666667,0,549.5

In [18]:
df_loan_data_cleaned[df_loan_data_cleaned.EmploymentStatusDuration.isna() & (df_loan_data_cleaned.EmploymentStatus == 'Not available')]

,Term,LoanStatus,BorrowerRate,ListingCategory (numeric),BorrowerState,Occupation,EmploymentStatus,EmploymentStatusDuration,IsBorrowerHomeowner,DelinquenciesLast7Years,DebtToIncomeRatio,LoanOriginalAmount,LoanOriginationDate,StatedMonthlyIncome,Recommendations,CreditScoreRangeAvg
2,36,Completed,0.2750,0,GA,Other,Not available,NaN,False,0.0,0.06,3001,2007-01-17 00:00:00,2083.333333,0,489.5
63,36,Completed,0.2900,0,MO,Analyst,Not available,NaN,True,0.0,0.25,6000,2006-10-13 00:00:00,7500.000000,0,629.5
76,36,Completed,0.2500,0,MO,Executive,Not available,NaN,True,5.0,0.13,2200,2006-07-21 00:00:00,8583.333333,0,549.5
128,36,Defaulted,0.1700,0,FL,Other,Not available,NaN,True,20.0,0.03,1000,2006-11-16 00:00:00,2916.666667,0,509.5
184,36,Defaulted,0.2500,0,MO,Military Enlisted,Not available,NaN,False,2.0,0.49,1200,2006-11-21 00:00:00,200.000000,0,489.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113736,36,Completed,0.1547,0,TX,Executive,Not available,NaN,False,0.0,0.11,5000,2006-08-18 00:00:00,8333.333333,0,609.5
113768,36,Completed,0.1700,0,TX,Sales - Retail,Not available,NaN,False,0.0,0.20,4000,2007-02-26 00:00:00,1709.916667,0,589.5
113797,36,Defaulted,0.1100,0,VA,Professional,Not available,NaN,False,0.0,0.04,4500,2006-10-31 00:00:00,4166.666667,0,669.5
113819,36,Completed,0.1740,0,MO,Executive,Not available,NaN,True,25.0,0.13,3000,2006-09-19 00:00:00,4583.333333,0,669.5
113926,36,Defaulted,0.2900,0,CA,Other,Not available,NaN,False,18.0,0.07,3000,2006-08-08 00:00:00,5416.666667,0,549.5

In [19]:
df_loan_data_cleaned.EmploymentStatus.value_counts()

Employed         67322
Full-time        24873
Self-employed     6029
Other             3806
Not available     2959
Part-time         1002
Not employed       801
Retired            762
Name: EmploymentStatus, dtype: int64

We can notice that all entries with EmploymentStatus as 'Not Available' has NaN in EmploymentStatusDuration.  
Since it's impossible to guess the employment status and its duration, I will remove all the entries with EmploymentStatus as 'Not Available'.

In [20]:
df_loan_data_cleaned = df_loan_data_cleaned[df_loan_data_cleaned.EmploymentStatus != 'Not available']
df_loan_data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 105463 entries, 0 to 113936
Data columns (total 16 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Term                       105463 non-null  int64
 1   LoanStatus                 105463 non-null  object
 2   BorrowerRate               105463 non-null  float64
 3   ListingCategory (numeric)  105463 non-null  int64
 4   BorrowerState              105463 non-null  category
 5   Occupation                 103262 non-null  object
 6   EmploymentStatus           104595 non-null  object
 7   EmploymentStatusDuration   104572 non-null  float64
 8   IsBorrowerHomeowner        105463 non-null  bool
 9   DelinquenciesLast7Years    105288 non-null  float64
 10  DebtToIncomeRatio          97043 non-null   float64
 11  LoanOriginalAmount         105463 non-null  int64
 12  LoanOriginationDate        105463 non-null  object
 13  StatedMonthlyIncome        105463 non-null  float64
 14  Recommendations            105463 non-null  int64
 15  CreditScoreRangeAvg        105463 non-null  float64
dtypes: bool(1), category(1), float64(6), int64(4), object(4)
memory usage: 12.3+ MB

In [21]:
df_loan_data_cleaned[df_loan_data_cleaned.EmploymentStatusDuration.isna()]

,Term,LoanStatus,BorrowerRate,ListingCategory (numeric),BorrowerState,Occupation,EmploymentStatus,EmploymentStatusDuration,IsBorrowerHomeowner,DelinquenciesLast7Years,DebtToIncomeRatio,LoanOriginalAmount,LoanOriginationDate,StatedMonthlyIncome,Recommendations,CreditScoreRangeAvg
162,36,Completed,0.0780,0,CA,NaN,NaN,NaN,False,0.0,0.13000,3000,2006-06-13 00:00:00,7500.000000,0,769.5
193,36,Defaulted,0.2300,0,AZ,NaN,NaN,NaN,False,10.0,0.20000,2000,2006-06-09 00:00:00,2500.000000,0,549.5
250,36,Completed,0.0800,0,WA,NaN,NaN,NaN,False,0.0,0.10000,2000,2006-06-20 00:00:00,6416.666667,0,729.5
310,36,Completed,0.1175,0,SC,NaN,NaN,NaN,False,5.0,0.16000,1800,2006-07-03 00:00:00,3750.000000,0,609.5
325,36,Completed,0.1275,0,MA,NaN,NaN,NaN,True,13.0,0.10000,6500,2006-06-08 00:00:00,5416.666667,0,689.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113410,36,Defaulted,0.1575,0,NC,NaN,NaN,NaN,True,NaN,0.14225,1000,2006-05-02 00:00:00,2833.333333,0,649.5
113435,36,Completed,0.0739,0,TX,NaN,NaN,NaN,False,0.0,0.17000,2300,2006-07-03 00:00:00,2750.000000,0,789.5
113591,36,Completed,0.1475,0,NC,NaN,NaN,NaN,True,4.0,0.12000,5500,2006-07-20 00:00:00,5833.333333,0,649.5
113712,36,Defaulted,0.2375,0,MD,NaN,NaN,NaN,False,0.0,0.12000,6001,2006-06-15 00:00:00,7500.000000,0,509.5
113914,36,Defaulted,0.2500,0,CA,NaN,NaN,NaN,False,16.0,0.05000,3000,2006-08-18 00:00:00,2400.000000,0,529.5

Since we cannot guess the employment status duration of a borrower, and since the entries with NaN in EmploymentStatusDuration are relatively few, I will drop all the entries with NaN in EmploymentStatusDuration.

In [22]:
df_loan_data_cleaned.dropna(subset=['EmploymentStatusDuration'], inplace=True)
df_loan_data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 104572 entries, 0 to 113936
Data columns (total 16 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Term                       104572 non-null  int64
 1   LoanStatus                 104572 non-null  object
 2   BorrowerRate               104572 non-null  float64
 3   ListingCategory (numeric)  104572 non-null  int64
 4   BorrowerState              104572 non-null  category
 5   Occupation                 103245 non-null  object
 6   EmploymentStatus           104572 non-null  object
 7   EmploymentStatusDuration   104572 non-null  float64
 8   IsBorrowerHomeowner        104572 non-null  bool
 9   DelinquenciesLast7Years    104555 non-null  float64
 10  DebtToIncomeRatio          96171 non-null   float64
 11  LoanOriginalAmount         104572 non-null  int64
 12  LoanOriginationDate        104572 non-null  object
 13  StatedMonthlyIncome        104572 non-null  float64
 14  Recommendations            104572 non-null  int64
 15  CreditScoreRangeAvg        104572 non-null  float64
dtypes: bool(1), category(1), float64(6), int64(4), object(4)
memory usage: 12.2+ MB

In [23]:
df_loan_data_cleaned.Occupation.value_counts()

Other                          26626
Professional                   12812
Computer Programmer             4130
Executive                       4105
Teacher                         3569
                               ...
Student - College Sophomore       51
Student - College Freshman        36
Judge                             22
Student - Community College       19
Student - Technical School         9
Name: Occupation, Length: 67, dtype: int64

In [24]:
df_loan_data_cleaned[df_loan_data_cleaned.Occupation.isna()]

,Term,LoanStatus,BorrowerRate,ListingCategory (numeric),BorrowerState,Occupation,EmploymentStatus,EmploymentStatusDuration,IsBorrowerHomeowner,DelinquenciesLast7Years,DebtToIncomeRatio,LoanOriginalAmount,LoanOriginationDate,StatedMonthlyIncome,Recommendations,CreditScoreRangeAvg
34,36,Current,0.1920,1,GA,NaN,Other,426.0,True,15.0,0.17,10000,2014-02-27 00:00:00,4058.333333,0,649.5
161,36,Current,0.1355,1,CA,NaN,Other,0.0,True,33.0,0.15,4000,2013-12-26 00:00:00,2429.166667,0,689.5
229,36,Current,0.1905,1,VA,NaN,Other,55.0,False,0.0,0.39,4000,2014-02-12 00:00:00,1250.000000,0,709.5
237,36,Current,0.1620,1,AR,NaN,Other,35.0,False,0.0,0.35,4000,2013-12-17 00:00:00,2166.666667,0,709.5
349,36,Current,0.1349,1,MO,NaN,Other,8.0,False,0.0,0.14,4000,2013-10-01 00:00:00,2000.000000,0,769.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113609,36,Current,0.2254,1,TX,NaN,Other,120.0,True,0.0,0.45,3200,2014-03-05 00:00:00,4083.333333,0,649.5
113636,36,Current,0.1760,1,WI,NaN,Other,0.0,True,11.0,0.20,4000,2013-11-12 00:00:00,2500.000000,0,689.5
113640,36,Current,0.1099,7,IL,NaN,Other,0.0,True,0.0,0.24,13000,2014-01-24 00:00:00,5666.666667,0,809.5
113651,36,Past Due (1-15 days),0.1550,19,MD,NaN,Other,0.0,False,0.0,0.13,2500,2013-09-30 00:00:00,1666.666667,0,749.5
113709,36,Current,0.2925,1,MN,NaN,Other,85.0,False,52.0,0.14,4000,2013-12-10 00:00:00,4000.000000,0,649.5

In [25]:
df_loan_data_cleaned[(df_loan_data_cleaned.Occupation.isna() & (df_loan_data_cleaned.EmploymentStatus == 'Other'))].shape

(1326, 16)

Since almost all entries with NaN in Occupation also have EmploymentStatus as Other and this it is impossible to guess the Occupation of a borrower, I will remove the entries with NaN in Occupation.

In [26]:
df_loan_data_cleaned.dropna(subset=['Occupation'], inplace=True)
df_loan_data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103245 entries, 0 to 113936
Data columns (total 16 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Term                       103245 non-null  int64
 1   LoanStatus                 103245 non-null  object
 2   BorrowerRate               103245 non-null  float64
 3   ListingCategory (numeric)  103245 non-null  int64
 4   BorrowerState              103245 non-null  category
 5   Occupation                 103245 non-null  object
 6   EmploymentStatus           103245 non-null  object
 7   EmploymentStatusDuration   103245 non-null  float64
 8   IsBorrowerHomeowner        103245 non-null  bool
 9   DelinquenciesLast7Years    103228 non-null  float64
 10  DebtToIncomeRatio          94844 non-null   float64
 11  LoanOriginalAmount         103245 non-null  int64
 12  LoanOriginationDate        103245 non-null  object
 13  StatedMonthlyIncome        103245 non-null  float64
 14  Recommendations            103245 non-null  int64
 15  CreditScoreRangeAvg        103245 non-null  float64
dtypes: bool(1), category(1), float64(6), int64(4), object(4)
memory usage: 12.0+ MB

Now that we don't have any NaN left, I will update the categories of Occupation, EmploymentStatus and EmploymentStatusDuration.  
Since Occupation and EmploymentStatus have a limited amount of unique values which are non ordinal, I will simply transform them into category. EmploymentStatusDuration will be transformed from float into int since this is a number of months

In [27]:
df_loan_data_cleaned.Occupation = df_loan_data_cleaned.Occupation.astype('category')
df_loan_data_cleaned.EmploymentStatus = df_loan_data_cleaned.EmploymentStatus.astype('category')
df_loan_data_cleaned.EmploymentStatusDuration = df_loan_data_cleaned.EmploymentStatusDuration.astype(int)

### Test

In [28]:
df_loan_data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103245 entries, 0 to 113936
Data columns (total 16 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Term                       103245 non-null  int64
 1   LoanStatus                 103245 non-null  object
 2   BorrowerRate               103245 non-null  float64
 3   ListingCategory (numeric)  103245 non-null  int64
 4   BorrowerState              103245 non-null  category
 5   Occupation                 103245 non-null  category
 6   EmploymentStatus           103245 non-null  category
 7   EmploymentStatusDuration   103245 non-null  int64
 8   IsBorrowerHomeowner        103245 non-null  bool
 9   DelinquenciesLast7Years    103228 non-null  float64
 10  DebtToIncomeRatio          94844 non-null   float64
 11  LoanOriginalAmount         103245 non-null  int64
 12  LoanOriginationDate        103245 non-null  object
 13  StatedMonthlyIncome        103245 non-null  float64
 14  Recommendations            103245 non-null  int64
 15  CreditScoreRangeAvg        103245 non-null  float64
dtypes: bool(1), category(3), float64(5), int64(5), object(2)
memory usage: 10.6+ MB

## DelinquenciesLast7Years
### Assess, define and code

In [29]:
df_loan_data_cleaned[df_loan_data_cleaned.DelinquenciesLast7Years.isna()]

,Term,LoanStatus,BorrowerRate,ListingCategory (numeric),BorrowerState,Occupation,EmploymentStatus,EmploymentStatusDuration,IsBorrowerHomeowner,DelinquenciesLast7Years,DebtToIncomeRatio,LoanOriginalAmount,LoanOriginationDate,StatedMonthlyIncome,Recommendations,CreditScoreRangeAvg
21086,36,Completed,0.1200,4,IL,Administrative Assistant,Full-time,15,False,NaN,NaN,2000,2008-01-29 00:00:00,2000.000000,0,769.5
26190,36,Completed,0.1600,0,ME,Computer Programmer,Full-time,37,False,NaN,NaN,1000,2007-10-17 00:00:00,3670.833333,0,609.5
37152,36,Completed,0.2079,0,MI,Student - College Sophomore,Part-time,7,False,NaN,NaN,1000,2007-05-29 00:00:00,0.083333,0,609.5
39357,36,Completed,0.1070,0,CA,Waiter/Waitress,Part-time,16,False,NaN,NaN,1000,2007-09-11 00:00:00,0.000000,1,709.5
46467,36,Completed,0.1579,0,WI,Other,Not employed,264,False,NaN,NaN,1500,2007-06-14 00:00:00,56.250000,0,809.5
47377,36,Completed,0.3232,2,AL,Skilled Labor,Full-time,27,False,NaN,NaN,10000,2008-01-23 00:00:00,2227.333333,2,689.5
48543,36,Chargedoff,0.2494,4,CA,Sales - Commission,Full-time,4,False,NaN,NaN,9500,2008-03-05 00:00:00,12500.000000,0,729.5
50301,36,Completed,0.1850,0,IL,Other,Part-time,33,False,NaN,NaN,2000,2007-05-30 00:00:00,833.333333,0,609.5
58998,36,Completed,0.1450,0,TX,Teacher,Full-time,64,False,NaN,NaN,1000,2007-07-27 00:00:00,1677.583333,0,709.5
63514,36,Completed,0.0700,0,WI,Other,Self-employed,22,False,NaN,NaN,5000,2007-08-20 00:00:00,0.000000,0,629.5
70266,36,Chargedoff,0.2041,0,CA,Other,Self-employed,3,False,NaN,NaN,10000,2007-09-14 00:00:00,0.000000,0,729.5
78622,36,Completed,0.1750,0,IN,Teacher,Full-time,3,False,NaN,NaN,4850,2007-11-28 00:00:00,3083.333333,0,649.5
78732,36,Completed,0.2174,0,ME,Sales - Commission,Full-time,7,False,NaN,NaN,1500,2007-06-29 00:00:00,833.333333,0,629.5
97196,36,Completed,0.2100,4,CA,Administrative Assistant,Full-time,4,False,NaN,NaN,2551,2008-01-29 00:00:00,2400.000000,1,669.5
103191,36,Completed,0.2000,0,MO,Sales - Commission,Full-time,9,False,NaN,NaN,2000,2007-06-05 00:00:00,4166.666667,0,529.5
103333,36,Defaulted,0.2166,0,MO,Food Service,Part-time,2,False,NaN,NaN,2500,2007-03-29 00:00:00,625.000000,1,569.5
109471,36,Completed,0.1820,6,CA,Other,Full-time,17,False,NaN,NaN,1300,2008-02-19 00:00:00,2091.166667,0,629.5

In [30]:
df_loan_data_cleaned.DelinquenciesLast7Years.describe()

count    103228.000000
mean          3.870539
std           9.732886
min           0.000000
25%           0.000000
50%           0.000000
75%           2.000000
max          99.000000
Name: DelinquenciesLast7Years, dtype: float64

Since most of the borrowers have 0 delinquency in the last 7 years and that I don't observe any pattern in the entries where DelinquenciesLast7Years is NaN, I will replace the NaN in DelinquenciesLast7Years with 0.

In [31]:
df_loan_data_cleaned.DelinquenciesLast7Years.fillna(0, inplace=True)
df_loan_data_cleaned.DelinquenciesLast7Years = df_loan_data_cleaned.DelinquenciesLast7Years.astype(int)

### Test

In [32]:
df_loan_data_cleaned.DelinquenciesLast7Years.describe()

count    103245.000000
mean          3.869902
std           9.732211
min           0.000000
25%           0.000000
50%           0.000000
75%           2.000000
max          99.000000
Name: DelinquenciesLast7Years, dtype: float64

In [33]:
df_loan_data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103245 entries, 0 to 113936
Data columns (total 16 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Term                       103245 non-null  int64
 1   LoanStatus                 103245 non-null  object
 2   BorrowerRate               103245 non-null  float64
 3   ListingCategory (numeric)  103245 non-null  int64
 4   BorrowerState              103245 non-null  category
 5   Occupation                 103245 non-null  category
 6   EmploymentStatus           103245 non-null  category
 7   EmploymentStatusDuration   103245 non-null  int64
 8   IsBorrowerHomeowner        103245 non-null  bool
 9   DelinquenciesLast7Years    103245 non-null  int64
 10  DebtToIncomeRatio          94844 non-null   float64
 11  LoanOriginalAmount         103245 non-null  int64
 12  LoanOriginationDate        103245 non-null  object
 13  StatedMonthlyIncome        103245 non-null  float64
 14  Recommendations            103245 non-null  int64
 15  CreditScoreRangeAvg        103245 non-null  float64
dtypes: bool(1), category(3), float64(4), int64(6), object(2)
memory usage: 10.6+ MB

We can now notice that we don't have any NaN anymore in the data set

## LoanStatus
### Assess, define and code

In [34]:
df_loan_data_cleaned.LoanStatus.value_counts()

Current                   55268
Completed                 32388
Chargedoff                10227
Defaulted                  3105
Past Due (1-15 days)        798
Past Due (31-60 days)       358
Past Due (61-90 days)       313
Past Due (91-120 days)      304
Past Due (16-30 days)       264
FinalPaymentInProgress      203
Past Due (>120 days)         16
Cancelled                     1
Name: LoanStatus, dtype: int64

The loan statuses can be seen as an ordinal variable because some status are better than other. I will then transform the variable from object to ordered category.

In [35]:
loan_status_list = ['Chargedoff',
                    'Defaulted',
                    'Past Due (>120 days)',
                    'Past Due (91-120 days)',
                    'Past Due (61-90 days)',
                    'Past Due (31-60 days)',
                    'Past Due (16-30 days)',
                    'Past Due (1-15 days)',
                    'Current',
                    'FinalPaymentInProgress',
                    'Completed',
                    'Cancelled',]
loan_status_class = pd.api.types.CategoricalDtype(ordered=True, categories=loan_status_list)
df_loan_data_cleaned.LoanStatus = df_loan_data_cleaned.LoanStatus.astype(loan_status_class);

### Test

In [36]:
df_loan_data_cleaned.LoanStatus

0                      Completed
1                        Current
3                        Current
4                        Current
5                        Current
                   ...
113932                   Current
113933    FinalPaymentInProgress
113934                   Current
113935                 Completed
113936                   Current
Name: LoanStatus, Length: 103245, dtype: category
Categories (12, object): ['Chargedoff' < 'Defaulted' < 'Past Due (>120 days)' < 'Past Due (91-120 days)' ... 'Current' < 'FinalPaymentInProgress' < 'Completed' < 'Cancelled']

## ListingCategory
### Assess, define and code

In [37]:
df_loan_data_cleaned['ListingCategory (numeric)'].value_counts()

1     57175
7     10392
0      7664
2      7391
3      7175
6      2559
4      2383
13     1975
15     1500
18      880
14      865
20      768
19      758
5       755
16      304
11      217
8       199
10       91
9        85
12       58
17       51
Name: ListingCategory (numeric), dtype: int64

Each number correspond to a reason for the loan. The matching categories are given in the variable description.

The category of the listing that the borrower selected when posting their listing: 
- 0 - Not Available,
- 1 - Debt Consolidation,
- 2 - Home Improvement,
- 3 - Business,
- 4 - Personal Loan,
- 5 - Student Use,
- 6 - Auto,
- 7 - Other,
- 8 - Baby&Adoption,
- 9 - Boat,
- 10 - Cosmetic Procedure,
- 11 - Engagement Ring,
- 12 - Green Loans,
- 13 - Household Expenses,
- 14 - Large Purchases,
- 15 - Medical/Dental,
- 16 - Motorcycle,
- 17 - RV,
- 18 - Taxes,
- 19 - Vacation,
- 20 - Wedding Loans

Since the category are not ordered, I will transform the numeric listing into a string listing and then transform it into a simple category variable.

In [38]:
listing_num_to_string = {
    0: 'Not Available',
    1: 'Debt Consolidation',
    2: 'Home Improvement',
    3: 'Business',
    4: 'Personal Loan',
    5: 'Student Use',
    6: 'Auto',
    7: 'Other',
    8: 'Baby Adoption',
    9: 'Boat',
    10: 'Cosmetic Procedure',
    11: 'Engagement Ring',
    12: 'Green Loans',
    13: 'Household Expenses',
    14: 'Large Purchases',
    15: 'Medical/Dental',
    16: 'Motorcycle',
    17: 'RV',
    18: 'Taxes',
    19: 'Vacation',
    20: 'Wedding Loans'
}
print(listing_num_to_string[9])
df_loan_data_cleaned['ListingCategory'] = df_loan_data_cleaned['ListingCategory (numeric)'].apply(lambda x: listing_num_to_string[x]) 
df_loan_data_cleaned.ListingCategory = df_loan_data_cleaned.ListingCategory.astype('category')
df_loan_data_cleaned.drop(columns=['ListingCategory (numeric)'], inplace=True)
df_loan_data_cleaned.head()

Boat

,Term,LoanStatus,BorrowerRate,BorrowerState,Occupation,EmploymentStatus,EmploymentStatusDuration,IsBorrowerHomeowner,DelinquenciesLast7Years,DebtToIncomeRatio,LoanOriginalAmount,LoanOriginationDate,StatedMonthlyIncome,Recommendations,CreditScoreRangeAvg,ListingCategory
0,36,Completed,0.1580,CO,Other,Self-employed,2,True,4,0.17,9425,2007-09-12 00:00:00,3083.333333,0,649.5,Not Available
1,36,Current,0.0920,CO,Professional,Employed,44,False,0,0.18,10000,2014-03-03 00:00:00,6125.000000,0,689.5,Home Improvement
3,36,Current,0.0974,GA,Skilled Labor,Employed,113,True,14,0.15,10000,2012-11-01 00:00:00,2875.000000,0,809.5,Motorcycle
4,36,Current,0.2085,MN,Executive,Employed,44,True,0,0.26,15000,2013-09-20 00:00:00,9583.333333,0,689.5,Home Improvement
5,60,Current,0.1314,NM,Professional,Employed,82,True,0,0.36,15000,2013-12-24 00:00:00,8333.333333,0,749.5,Debt Consolidation

### Test

In [39]:
df_loan_data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103245 entries, 0 to 113936
Data columns (total 16 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Term                      103245 non-null  int64
 1   LoanStatus                103245 non-null  category
 2   BorrowerRate              103245 non-null  float64
 3   BorrowerState             103245 non-null  category
 4   Occupation                103245 non-null  category
 5   EmploymentStatus          103245 non-null  category
 6   EmploymentStatusDuration  103245 non-null  int64
 7   IsBorrowerHomeowner       103245 non-null  bool
 8   DelinquenciesLast7Years   103245 non-null  int64
 9   DebtToIncomeRatio         94844 non-null   float64
 10  LoanOriginalAmount        103245 non-null  int64
 11  LoanOriginationDate       103245 non-null  object
 12  StatedMonthlyIncome       103245 non-null  float64
 13  Recommendations           103245 non-null  int64
 14  CreditScoreRangeAvg       103245 non-null  float64
 15  ListingCategory           103245 non-null  category
dtypes: bool(1), category(5), float64(4), int64(5), object(1)
memory usage: 9.3+ MB

In [40]:
df_loan_data_cleaned.ListingCategory

0              Not Available
1           Home Improvement
3                 Motorcycle
4           Home Improvement
5         Debt Consolidation
                 ...
113932    Debt Consolidation
113933                 Other
113934    Debt Consolidation
113935      Home Improvement
113936    Debt Consolidation
Name: ListingCategory, Length: 103245, dtype: category
Categories (21, object): ['Auto', 'Baby Adoption', 'Boat', 'Business', ..., 'Student Use', 'Taxes', 'Vacation', 'Wedding Loans']

## LoanOriginationDate
### Define
Transform the loan origination date variable from object to date time.

### Code

In [41]:
df_loan_data_cleaned.LoanOriginationDate = pd.to_datetime(df_loan_data_cleaned.LoanOriginationDate)

### Test

In [42]:
df_loan_data_cleaned.LoanOriginationDate

0        2007-09-12
1        2014-03-03
3        2012-11-01
4        2013-09-20
5        2013-12-24
            ...
113932   2013-04-22
113933   2011-11-07
113934   2013-12-23
113935   2011-11-21
113936   2014-01-21
Name: LoanOriginationDate, Length: 103245, dtype: datetime64[ns]

In [43]:
df_loan_data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103245 entries, 0 to 113936
Data columns (total 16 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Term                      103245 non-null  int64
 1   LoanStatus                103245 non-null  category
 2   BorrowerRate              103245 non-null  float64
 3   BorrowerState             103245 non-null  category
 4   Occupation                103245 non-null  category
 5   EmploymentStatus          103245 non-null  category
 6   EmploymentStatusDuration  103245 non-null  int64
 7   IsBorrowerHomeowner       103245 non-null  bool
 8   DelinquenciesLast7Years   103245 non-null  int64
 9   DebtToIncomeRatio         94844 non-null   float64
 10  LoanOriginalAmount        103245 non-null  int64
 11  LoanOriginationDate       103245 non-null  datetime64[ns]
 12  StatedMonthlyIncome       103245 non-null  float64
 13  Recommendations           103245 non-null  int64
 14  CreditScoreRangeAvg       103245 non-null  float64
 15  ListingCategory           103245 non-null  category
dtypes: bool(1), category(5), datetime64[ns](1), float64(4), int64(5)
memory usage: 9.3 MB

All the variables are now in the proper format.

# Data set saving
In order to use this cleaned data set in the next notebook, we save it into a csv file.

In [45]:
df_loan_data_cleaned.to_csv('prosperLoanDataCleaned.csv', index=False)